<!DOCTYPE html>
<html>

<head>
      <title>APP</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>
      <h2>{{>header}}</h2>

      <div class="div1-index">
            <p class="all-title"> this is {{title}} page with HBS</p>

            <div class="contant-products">
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj1.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj1.name}}</p>
                              <p>price : $ {{obj1.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj2.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj2.name}}</p>
                              <p>price : $ {{obj2.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj3.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj3.name}}</p>
                              <p>price : $ {{obj3.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj4.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj4.name}}</p>
                              <p>price : $ {{obj4.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj5.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj5.name}}</p>
                              <p>price : $ {{obj5.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
                  <div class="cart-sec2">
                        <div class="img-sec2">
                              <img src={{obj6.img2}} alt="">
                        </div>
                        <div class="data-sec2">
                              <p class="noWrapClass">product : {{obj6.name}}</p>
                              <p>price : $ {{obj6.price}}</p>
                              <div>
                                    <input type="button" class="btn-cart shadow" value="Add item">
                                    <i class="fas fa-heart icon-heart-st"></i>
                              </div>
                        </div>
                  </div>
            </div>

      </div>

      <div class="foot"><span>All rights &copy; reserved to this site in 2024</span></div>

</body>

</html>